{% extends 'authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="bg-light rounded h-100 p-4 shadow-sm">
    <h6 class="title-custom mb-4">{{ title }}</h6>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Title and Description -->
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="id_title" class="form-label">Title</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            <div class="col-md-6">
                <label for="id_number" class="form-label">Number</label>
                {{ form.number|add_class:"form-control" }}
            </div>
        </div>


        <!-- Icon Upload Section -->
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="id_icon" class="form-label">Icon</label>
                {{ form.icon|add_class:"form-control" }}
            </div>
            <div class="col-md-6">
                {% if form.instance.icon %}
                <div class="mt-2">
                    <p>Current Icon:</p>
                    <img src="{{ form.instance.icon.url }}" style="max-width: 100px;" alt="{{ form.instance.title }}">
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Description Section -->
        <div class="row mb-4">
            <div class="col-md-12">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description|add_class:"form-control" }}
            </div>
        </div>


        <!-- Submit Button -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
