{% extends 'authority_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="bg-light rounded h-100 p-4 shadow-sm">
    <h6 class="title-custom mb-4">{{ title }}</h6>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-4">
            <label for="title" class="form-label">Title</label>
            {{ form.title|add_class:"form-control" }}
        </div>

        <div class="mb-4">
            <label for="description" class="form-label">Description</label>
            {{ form.description|add_class:"form-control" }}
        </div>

        <div class="mb-4">
            <label for="image" class="form-label">Image</label>
            {{ form.image|add_class:"form-control" }}
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
